// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');
// :root {
//   --color-bg:hsl(0, 0%, 98%);
//   --color-text:hsl(200, 15%, 8%);
//   --color-element:hsl(0, 0%, 100%);
//   --color-input:hsl(0, 0%, 52%);
// }
$font-family: "Nunito Sans",sans-serif;
body {
	--color-bg:hsl(0, 0%, 98%);
	--color-text:hsl(200, 15%, 8%);
	--color-element:hsl(0, 0%, 100%);
	--color-input:hsl(0, 0%, 52%);
}
body.dark {
	--color-bg:hsl(207, 26%, 17%);
	--color-text:hsl(0, 0%, 100%);
	--color-element:hsl(209, 23%, 22%);
	--color-input:hsl(0, 0%, 100%);
}